@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 11px;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #e4e4e7;
    color: #3f3f46;
  }
  .nunito- {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }